.filter {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  width: 70%;
  @media screen and (min-width: 768px) {
    width: 40%;
  }
  margin: 0 auto;
  margin-bottom: 20px;
}

.filter__field {
  display: block;
  width: 100%;

  padding: 15px;
  border: 1px solid grey;
  outline: none;

  border: 1px solid rgba(27, 27, 27, 0.12);
  border-radius: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

.filter__title {
  color: rgb(98, 248, 248);
  font-weight: bold;
}

.filter__title:hover {
  color: rgb(2, 233, 233);
}

.filter__field:focus {
  border: 2px solid rgb(2, 233, 233);
}
