.box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.text {
  margin-right: 10px;
  display: inline-block;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 7px 14px;
  background-color: transparent;
  color: #000;
  border: 1px solid grey;
  border: 1px solid grey;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: scale(1);
  transition-property: background, color, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 350ms;
}

.btn:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: rgb(21, 75, 223);
}

.btn:active {
  background-color: rgb(108, 143, 238);
}
